<launch>
  <!-- This is the visualization part of launcher grid.launch
       It is complementary to grid_deploy.launch to get same output than grid.launch
       Useful for debugging a deployed system.
       
       grid_deploy.launch + grid_visualization.launch = grid.launch -->    
    
   
    
  <arg name="tagID"          default="390000010000000000000007"/>
  <arg name="object"         default="kitchen table"/>
      
  <group ns="grid_$(arg tagID)">
  
  <!-- Launch the grid map visualizer -->
  <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
    <rosparam command="load" file="$(find rfid_grid_map)/config/visualization.yaml" />
    <rosparam param="grid_map_topic" subst_value="True">/grid_$(arg tagID)/rfid_grid_map_node/grid_map</rosparam>    
  </node>
  
  </group>
  
  
</launch>
