<?xml version="1.0" encoding="UTF-8"?>
<!--
  MFC:
    This file contains the configuration for creating a tag grid with visulazation
    and some groundtruth.
-->


<launch>

      <arg name="robot_tf" default="base_link"/>
      <arg name="world_tf" default="map"/>
      <arg name="saveRoute" default="$(find rfid_grid_map)/save/LCAS/" />
      <arg name="loadGrids" default="false" />
      <arg name="with_visualizer" default="true"/>
      <arg name="tag_frequency" default="860.0"/>
      <arg name="tag_power" default="0.001"/>
      <arg name="tag_gain" default="1"/>
      <arg name="detectRadius"         default="0.75"/> <!-- detectRadius == b -->
      <arg name="cone_range"           default="1.5"/> <!-- cone_range == a -->
      <arg name="weight_inc"           default="0.05"/>
      <arg name="weight_dec"           default="0.001"/>


      <arg name="is_sim" default="false"/>

      <arg name="tagID" default="390100010000000000000001"/>
      <arg name="object" default="keys" />
      <arg name="tag_num" default="1"/>
      <arg name="worldTagPose" default="0.161 -1.803 0.0 0.0 0.0 0.729 0.685"/>

    <include file="$(find rfid_grid_map)/launch/grid.launch">
      <!-- all vars that included.launch requires must be set -->
      <arg name="tagID" value="$(arg tagID)" />
      <arg name="object" value="$(arg object)" />
      <arg name="saveRoute" value="$(arg saveRoute)" />
      <arg name="loadGrids" value="$(arg loadGrids)" />
      <arg name="with_visualizer" value="$(arg with_visualizer)"/>
      <arg name="detectRadius"    value="$(arg detectRadius)"/>
      <arg name="cone_range"      value="$(arg cone_range)"/>
      <arg name="weight_inc"      value="$(arg weight_inc)"/>
      <arg name="weight_dec"      value="$(arg weight_dec)"/>
    </include>

    <!-- really crappy ground truth -->
    <include file="$(find pr_model)/launch/tagData.launch">
        <arg name="robot_tf" value="$(arg robot_tf)"/>
        <arg name="world_tf" value="$(arg world_tf)"/>
        <arg name="tagID" value="$(arg tagID)"/>
        <arg name="tag_num" value="$(arg tag_num)"/>
        <arg name="worldTagPose" value="$(arg worldTagPose)"/>
    </include>


    <!-- Add rfid tag(s)...................................................... -->
    <param name="tag_description_$(arg tag_num)" command="$(find xacro)/xacro '$(find gazebo_rfid_node)/urdf/tag_model.xacro' --inorder ID:='$(arg tagID)' frequency:='$(arg tag_frequency)' power:='$(arg tag_power)' gain:='$(arg tag_gain)'" if="$(arg is_sim)"/>

    <!-- spawn it!-->
    <node pkg="gazebo_rfid_node" type="spawn_model" name="tag_spawner_$(arg tag_num)" args="-urdf -param /tag_description_$(arg tag_num) -model tag_$(arg tagID)  -pose $(arg worldTagPose)"  if="$(arg is_sim)"/>


</launch>
