<?xml version="1.0"?>
<launch>
    
  <!-- This launcher is a testing for the whole ROL system -->
  <!-- Uses a bag file to simulate robot and a big set of tags, played on loop-->


  <param name="use_sim_time" value="true" />  
  <!-- Launch bag file: data --> 
  <node pkg="rosbag" type="play" name="player" output="screen" args=" -q --clock $(find rfid_grid_map)/test/pums_test2/rfid-capture.bag" /> 
        
        
  <!-- Launch static map: for amcl and display -->
  <node pkg="map_server" type="map_server" name="lcas_map" output="screen" args="$(find rfid_grid_map)/test/pums_test2/map.yaml"/>
    
  <!-- Load regions descriptions used by all object trackers -->
  <rosparam command="load" file="$(find rfid_grid_map)/test/pums_test2/mmap.yaml" ns="mmap"/>

  <!-- Launch the grid map and visualization on grid.launch -->
  <include file="$(find rfid_grid_map)/launch/grid.launch">
    <!-- all vars that included.launch requires must be set -->
    <arg name="tagID" value="390101110000000000000001" />
    <arg name="object" value="remote" />
    <arg name="saveRoute" value="$(find rfid_grid_map)/test/pums_test2/tagMaps/" />    
    <arg name="loadGrids" value="false" />     
    <arg name="with_visualizer"      value="true"/>   
  </include>

  <include file="$(find rfid_grid_map)/launch/grid.launch">
    <!-- all vars that included.launch requires must be set -->
    <arg name="tagID" value="390101110000000000000002" />
    <arg name="object" value="keys" />
    <arg name="saveRoute" value="$(find rfid_grid_map)/test/pums_test2/tagMaps/" />    
    <arg name="loadGrids" value="false" />     
    <arg name="with_visualizer"      value="true"/>   
  </include>
  
  <include file="$(find rfid_grid_map)/launch/grid.launch">
    <!-- all vars that included.launch requires must be set -->
    <arg name="tagID" value="390101110000000000000003" />
    <arg name="object" value="pillbox" />
    <arg name="saveRoute" value="$(find rfid_grid_map)/test/pums_test2/tagMaps/" />    
    <arg name="loadGrids" value="false" />     
    <arg name="with_visualizer"      value="true"/>   
  </include>
  
  <include file="$(find rfid_grid_map)/launch/grid.launch">
    <!-- all vars that included.launch requires must be set -->
    <arg name="tagID" value="390101110000000000000004" />
    <arg name="object" value="wallet" />
    <arg name="saveRoute" value="$(find rfid_grid_map)/test/pums_test2/tagMaps/" />    
    <arg name="loadGrids" value="false" />     
    <arg name="with_visualizer"      value="true"/>   
  </include>
  
  
  <include file="$(find rfid_grid_map)/launch/grid.launch">
    <!-- all vars that included.launch requires must be set -->
    <arg name="tagID" value="390101110000000000000005" />
    <arg name="object" value="glasses" />
    <arg name="saveRoute" value="$(find rfid_grid_map)/test/pums_test2/tagMaps/" />    
    <arg name="loadGrids" value="false" />     
    <arg name="with_visualizer"      value="true"/>   
  </include>
  
 <!-- Launch ROL Node --> 
  <include file="$(find rol_server)/launch/rol_server_node.launch">
	<arg name="minProb"   value="0.0" />
  </include> 

  <node name="crawler" pkg="rol_server" type="prob_crawler.py">
    <rosparam command="load" file="$(find rfid_grid_map)/launch/things.yaml"/>
    <param name="saveRoute" value="$(find rfid_grid_map)/test/pums_test2/tagMaps/"/>    
    <param name="fileNamePrefix" value="PUMS_" />    
  </node>
  


 <!-- Launch RViz with the demo configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rfid_grid_map)/rviz/rfid_gridmap_test_PUMS.rviz" />

  <!-- Displays regions as polygons in rviz -->
  <node name="viewer" pkg="rfid_grid_map" type="viewZois"/>

</launch>
