<launch>
    <!-- This launcher replays the following scenario:
            Recordings from 12th of July at FDG
            
            Used tags are:
            
            wallet and keyring "rectangular tags":
                Inlay: DogBone Wet Inlay
                IC: Impinj Monza R6
              or maybe:
                Inlay: Web Paper Tag
                IC: NXP U-Code G2iL
            remote and pillbox "squared tags" 
                Inlay: Frog 3D Wet Inlay
                IC: Impinj Monza 4D
            (Note: I'm guessing models from Lucia's description)
            
            Locations should be:

            remote - livingroom_sofa,
            keys - livingroom_studio,
            pillbox - livingroom_dining_table ,
            wallet - kitchen
            glasses - not used,

            In Lucia's words: 

            medicine -   table
            keyring  -   studio
            remote   -   near tv (near sofa)
            wallet   -   kitchen
   -->
  <param name="use_sim_time" value="true" />  
  
  <node pkg="rosbag" type="play" name="player" output="screen" args=" --clock $(find rfid_grid_map)/test/fdg_tests3/TiagoRfidFDG_1.bag"/>

  
  <!-- Launch static map: for display -->
  <node pkg="map_server" type="map_server" name="lcas_map" output="screen" args="$(find rfid_grid_map)/test/fdg_tests3/map/map.yaml"/>
  
  <!-- Load regions descriptions used by all object trackers -->
  <rosparam command="load" file="$(find rfid_grid_map)/test/fdg_tests3/map/mmap.yaml" ns="mmap"/>

 <!-- RFID tags --> 
    <include file="$(find rfid_grid_map)/launch/grid.launch">
       <arg name="tagID"                value="390101110000000000000001" />
       <arg name="object"               value="remote" />
       <arg name="saveRoute"            value="$(find rfid_grid_map)/save/FDG/" />    
       <arg name="with_visualizer"      value="true"/>    
    </include>
    <include file="$(find rfid_grid_map)/launch/grid.launch">
       <arg name="tagID"                value="390101110000000000000002" />
       <arg name="object"               value="keys" />
       <arg name="saveRoute"            value="$(find rfid_grid_map)/save/FDG/" />    
       <arg name="with_visualizer"      value="true"/>    
    </include>
    <include file="$(find rfid_grid_map)/launch/grid.launch">
       <arg name="tagID"                value="390101110000000000000003" />
       <arg name="object"               value="pillbox" />
       <arg name="saveRoute"            value="$(find rfid_grid_map)/save/FDG/" />    
       <arg name="with_visualizer"      value="true"/>    
    </include>
    <include file="$(find rfid_grid_map)/launch/grid.launch">
       <arg name="tagID"                value="390101110000000000000004" />
       <arg name="object"               value="wallet" />
       <arg name="saveRoute"            value="$(find rfid_grid_map)/save/FDG/" />    
       <arg name="with_visualizer"      value="true"/>    
    </include>
    <include file="$(find rfid_grid_map)/launch/grid.launch">
       <arg name="tagID"                value="390101110000000000000005" />
       <arg name="object"               value="glasses" />
       <arg name="saveRoute"            value="$(find rfid_grid_map)/save/FDG/" />    
       <arg name="with_visualizer"      value="true"/>    
    </include>  
   
  <!-- Launch viewZois: for display -->
  <node name="viewZois_node" pkg="rfid_grid_map" type="viewZois"  />
 
  <!-- Launch ROL Node --> 
  <include file="$(find rol_server)/launch/rol_server_node.launch">
	<arg name="minProb"   value="0.0" />
  </include> 
 
  <!-- Launch RViz with the demo configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rfid_grid_map)/rviz/rfid_gridmap_test_FDG.rviz" />
 
</launch>
