<launch deprecated="Francois: if you use this for your ENSTA simulator, maybe you want to change FDG regions definition 'FDG3.yaml'">
  <!-- This launcher includes everything to launch object location system -->
  <!-- It does not include any visualization node/config -->
  <!-- However, ve still need some kompai topics such as odom and map -->
  
  <!-- Launch RFID Node -->
  <node name="rfid_reader" pkg="rfid_node" type="rfid_reader_ros.py"/>
  
  <!-- Load regions descriptions used by all object trackers -->
  <rosparam command="load" file="$(find rfid_grid_map)/config/FDG3.yaml"/>
  
  <!-- Launch the grid map and visualization for a tag -->
  <include file="$(find rfid_grid_map)/launch/grid_deploy.launch">
    <!-- all vars that included.launch requires must be set -->
    <arg name="tagID" value="390200010000000000000000" />
    <arg name="object" value="wallet" />
    <arg name="saveRoute" value="$(find rfid_grid_map)/save/FDG/" />    
    <arg name="loadGrids" value="false" />        
  </include>

  
  <!-- Launch the grid map and visualization for a tag -->
  <include file="$(find rfid_grid_map)/launch/grid_deploy.launch">
    <!-- all vars that included.launch requires must be set -->
    <arg name="tagID" value="390200010000000000000001" />
    <arg name="object" value="keys" />
    <arg name="saveRoute" value="$(find rfid_grid_map)/save/FDG/" />    
    <arg name="loadGrids" value="false" />        
  </include>
  
  <!-- Launch the grid map and visualization for a tag -->
  <include file="$(find rfid_grid_map)/launch/grid_deploy.launch">
    <!-- all vars that included.launch requires must be set -->
    <arg name="tagID" value="390200010000000000000002" />
    <arg name="object" value="pillbox" />
    <arg name="saveRoute" value="$(find rfid_grid_map)/save/FDG/" />    
    <arg name="loadGrids" value="false" />        
  </include>
  
  <!-- Launch the grid map and visualization for a tag -->
  <include file="$(find rfid_grid_map)/launch/grid_deploy.launch">
    <!-- all vars that included.launch requires must be set -->
    <arg name="tagID" value="390200010000000000000003" />
    <arg name="object" value="remote" />
    <arg name="saveRoute" value="$(find rfid_grid_map)/save/FDG/" />    
    <arg name="loadGrids" value="false" />        
  </include>
  
  <!-- Launch the grid map and visualization for a tag -->
  <include file="$(find rfid_grid_map)/launch/grid_deploy.launch">
    <!-- all vars that included.launch requires must be set -->
    <arg name="tagID" value="390200010000000000000004" />
    <arg name="object" value="glasses" />
    <arg name="saveRoute" value="$(find rfid_grid_map)/save/FDG/" />    
    <arg name="loadGrids" value="false" />        
  </include>
  
 <!-- Launch ROL Node -->
  <node name="rol_srv_node" pkg="rol_server" type="rol_server_node.py"/>

  <!-- Launch RViz with the demo configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rfid_grid_map)/rviz/rfid_gridmap_test.rviz" />
</launch>

