<?xml version="1.0"?>
 <!--
        Modified version of sensor_frames_lincoln that contains a simulated "rfid reader"
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sensor_frames">

  <xacro:arg name="robot_name" default=""/>
  <xacro:arg name="tf_prefix" default=""/>

  <xacro:arg name="min_frequency" default="800.0"/>
  <xacro:arg name="max_frequency" default="920.0"/>
  <xacro:arg name="gain" default="2.5"/>
  <xacro:arg name="sensitivity" default="-90.0"/>



  <link name="$(arg tf_prefix)/base_sensors"/>
  <link name="$(arg tf_prefix)/septentrio"/>
  <link name="$(arg tf_prefix)/xsens"/>

  <!-- RFID reader -->
  <link name="$(arg tf_prefix)/reader_link">
    <collision name="reader_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!-- mesh filename="model://antenna/antenna.stl"/ -->
        <mesh scale="0.5 0.5 0.5" filename="package://gazebo_rfid_node/models/antenna/antenna.stl"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!-- mesh filename="model://antenna/antenna.stl"/ -->
        <mesh scale="0.5 0.5 0.5" filename="package://gazebo_rfid_node/models/antenna/antenna.stl"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <joint name="base_sens_rfid" type="fixed">
    <parent link="$(arg tf_prefix)/base_sensors"/>
    <child link="$(arg tf_prefix)/reader_link"/>
    <axis xyz="0 1 0" />
    <origin xyz="0.0 0 .30" rpy="0 0 0"/>
  </joint>

  <gazebo reference="$(arg tf_prefix)/reader_link">
    <sensor name="$(arg robot_name)_head_reader_sensor" type="wireless_receiver">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>40</update_rate>
      <always_on>1</always_on>
      <transceiver>
        <min_frequency>$(arg min_frequency)</min_frequency>
        <max_frequency>$(arg max_frequency)</max_frequency>
        <gain>$(arg gain)</gain>
        <sensitivity>$(arg sensitivity)</sensitivity>
      </transceiver>
    </sensor>
  </gazebo>

  <!-- Hokuyo Laser -->
  <link name="$(arg tf_prefix)/hokuyo">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://thorvald_description/meshes/hokuyo/hokuyo.dae"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <joint name="base_base_sens" type="fixed">
    <parent link="$(arg tf_prefix)/base_link"/>
    <child link="$(arg tf_prefix)/base_sensors"/>
    <origin xyz="0.67 0 0.6" rpy="0 0 0"/>
  </joint>

  <joint name="base_sens_septentrio" type="fixed">
    <parent link="$(arg tf_prefix)/base_sensors"/>
    <child link="$(arg tf_prefix)/septentrio"/>
    <origin xyz="-0.01 0 0.3" rpy="0 0 0"/>
  </joint>


  <joint name="base_sens_xsens" type="fixed">
    <parent link="$(arg tf_prefix)/base_sensors"/>
    <child link="$(arg tf_prefix)/xsens"/>
    <origin xyz="0.05 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="base_sens_hokuyo" type="fixed">
    <parent link="$(arg tf_prefix)/base_sensors"/>
    <child link="$(arg tf_prefix)/hokuyo"/>
    <axis xyz="0 1 0" />
    <origin xyz="0.0 0 .15" rpy="0 0 0"/>
  </joint>

  <!--hokuyo-->
  <gazebo reference="$(arg tf_prefix)/hokuyo">
    <sensor name="$(arg robot_name)_head_hokuyo_sensor" type="ray">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>40</update_rate>
      <always_on>1</always_on>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-1.570796</min_angle>
            <max_angle>1.570796</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <!-- Noise parameters based on published spec for Hokuyo laser
               achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
               stddev of 0.01m will put 99.7% of samples within 0.03m of the true
               reading. -->
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="$(arg robot_name)_hokuyo_node" filename="libgazebo_ros_laser.so">
        <topicName>scan</topicName>
        <frameName>hokuyo</frameName>
      </plugin>
    </sensor>
  </gazebo>

</robot>
