<?xml version="1.0"?>


<launch>
    
  <!-- 
  Publishes tag position to map tf and updates relative robot-tag pose 
  
  
  -->
  
  <!-- remember: tfs dont have starting slash  -->       
  <arg name="robot_tf" default="base_link"/>
  <arg name="world_tf" default="world"/>
  <arg name="onlyPose" default="false"/>
  
  
  <arg name="tagID" default="300833B2DDD9014000000007"/>
  <arg name="tag_num" default="7"/>
  <arg name="worldTagPose" default="2.82 -0.64 0 0 0 0.7 0.7"/>
   
  <node pkg="tf" type="static_transform_publisher" name="tag_broadcaster_$(arg tag_num)" args=" $(arg worldTagPose)   $(arg world_tf) rfid/tags/$(arg tagID)  100" unless="$(arg onlyPose)"/>
  
  `<!-- Publishes relative tag position related to robot  -->
  <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="abs_tag_$(arg tag_num)" output="screen">
      <param name="map_frame" value="$(arg world_tf)"/>
      <param name="base_frame" value="rfid/tags/$(arg tagID)"/>
      <param name="is_stamped" value="true"/>
      <remap from="robot_pose" to="/poses/$(arg tagID)"/>
  </node>
  
  <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="rel_tag_$(arg tag_num)" output="screen">
      <param name="map_frame" value="$(arg robot_tf)"/>
      <param name="base_frame" value="rfid/tags/$(arg tagID)"/>
      <param name="is_stamped" value="true"/>
      <remap from="robot_pose" to="/rel_poses/$(arg tagID)"/>
  </node>
  <!--
  <node pkg="pr_model" type="publishPosition.py" name="rel_tag_$(arg tag_num)" output="screen">
      <param name="robot_tf" value="$(arg robot_tf)"/>
      <param name="tag_tf" value="rfid/tags/$(arg tagID)"/>
      <param name="rel_pose_topic" value="/poses/$(arg tagID)"/>
  </node>
 -->
         
</launch>
