<?xml version="1.0"?>

<launch>
	<arg name="robot_name" default="thorvald_001"/>
	<arg name="ring" default="0" />  
	<arg name="resolution" default="0.007"/>
	<group ns="$(arg ring)">
		<node pkg="velodyne_laserscan" type="velodyne_laserscan_node" name="laserscan" output="screen">
			<remap from="velodyne_points" to="/$(arg robot_name)/velodyne_points"/>
			<remap from="scan" to="velscan_$(arg ring)"/>
			<param name="ring" value="$(arg ring)"/> 
			<param name="resolution" value="$(arg resolution)"/>
		</node>
		<node pkg="ass1_1" type="scanner.py" name="velodyne_laserscan_filtered" args="$(arg ring)" output="screen"/>
	</group>
</launch>










